a.tt-suggestion.typebook-result-item {
  display: block;
  color: initial;
}
a.tt-suggestion.typebook-result-item:hover {
  text-decoration: none;
}

.tt-suggestion .img-wrapper {
  float: left;
  width: 65px;
  text-align: center;
  margin-right: 5px;
}
.tt-suggestion img.thumbnail {
  max-height: 80px;
  max-width : 65px;
  vertical-align: top;
}
.tt-suggestion .book-info {
  width: calc(100% - 70px);
  margin-left: 70px;
}
.tt-suggestion .book-title {
  font-weight: bold;
}
.tt-suggestion .book-subtitle {
  font-size: 90%;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 100%;
  display: inline-block;
}

.tt-suggestion .book-author {
  font-size: 95%;
}
.tt-suggestion .book-publisher {
  font-size: 85%;
  color: #999;
  float: right;
}

.tt-suggestion .cleaner {
  clear: both;
}


