
/*
 * file-drop-box
 */

.image-preview-container {
}
.file-drop-box {
	min-height: 200px;

	display: block;
	/*width: 100%;*/
	/*height: 34px;*/
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	background-color: white;
}
	.file-drop-box.is-dragging-in {
		border-color: rgba(9, 80, 208, 1.0);
		background-color: rgba(9, 80, 208, 0.2);
	}

	.file-drop-box .guide {
		text-align: center;
	}
	.file-drop-box .guide i {
		vertical-align: middle;
		margin-top: 75px;
		font-size: 30px;
	}
	.file-drop-box .guide p {
		line-height: 3;
	}

	.file-drop-box {
		background-repeat: no-repeat;
		background-image: url(/static/images/drop-guide.png);
		background-position-x: center;
		background-position-y: center;
	}
	.file-drop-box .guide {
		visibility: hidden;
	}
