
/*
 * Navigation Bar
 */
nav#nav {
}

  nav#nav .user-profile-image {
	width: 30px;
    height: 30px;
    display: inline-block;
	vertical-align: baseline;
  }
	nav#nav .user-profile-image .wrapper {
  	  display: inline-block;
	  width: 100%;
	  height: 100%;
	}
	nav#nav .user-profile-image .round-wrapper {
	  border: 1px solid;
	  border-radius: 50%;
	}

	nav#nav .user-profile-image i.glyphicon {
      font-size: 18px;
	  line-height: 30px;
	}


/*
 * Quote
 */

.quote.thumbnail {
	position: relative;
}
	.quote.thumbnail .background-image {
		position: absolute;
		width: 100%;
		height: 100%;
		margin-top: -4px; /* padding reverse */
		margin-left: -4px;

		opacity: 0.2;
		overflow: hidden;
	}
		.quote.thumbnail .background-image img {
			max-width: 100%;
			margin-top: calc(-150px + 59px);
		}
		.quote.thumbnail .background-image .img-block {
			width: 100%;
			height: 100%;
			z-index: -1;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
		}


	.quote.thumbnail .quotation-mark {
		clear: both;
		float: left;
		font-size: 60px;
		line-height: 45px;
		font-family: "Apple SD Gothic Neo", 나눔고딕, NanumGothic, AppleGothic, 맑은고딕, Dotum;
		color: #acacac;
		padding-right: 10px;
		position: absolute;
		margin-left: -35px;
	}

/*
 * file-drop-box
 */

.image-preview-container {
	position: relative;
}
	.image-preview-container-inner {
		position: relative;

		min-height: 200px;

		padding: 4px;

		border: 1px solid #ccc;
		border-radius: 4px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top-style: none;

		background-color: white;
	}


	.file-droppable .file-drop-box {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.image-preview-container-inner .file-drop-box {
		margin-left: -4px;
		margin-top: -4px; /* reverse padding */
	}

	label.file-drop-box {
		margin-bottom: 0;
	}

	.file-drop-box .guide {
		position: absolute;
		height: calc(100% - 20px);
		width: calc(100% - 20px);
		top : 10px;
		left: 10px;

		text-align: center;
		border: 2px dashed rgba(0,0,0,0.3);
		border-radius: 5px;
	}


	.file-droppable.is-dragging-in .image-preview-container-inner {
		border-color: rgba(9, 80, 208, 1.0);
		background-color: rgba(9, 80, 208, 0.2);
	}
	/* let guide be clickable */
	.file-drop-box .guide:hover {
		cursor: pointer;

		border-color: rgba(9, 80, 208, 1.0);
		background-color: rgba(9, 80, 208, 0.2);
	}

	/* override with image */
	/*
	.file-drop-box {
		background-repeat: no-repeat;
		background-image: url(/static/images/drop-guide.png);
		background-position-x: center;
		background-position-y: center;
	}
	.file-drop-box {
		display: block;
		position: absolute;
		width: 100%;

		/*height: 34px;*/
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: transparent;
		background-image: none;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	*/

		.file-drop-box .guide {
			text-align: center;
		}
		.file-drop-box .guide i {
			vertical-align: middle;
			margin-top: 55px;
			font-size: 30px;
		}
		.file-drop-box .guide p {
			line-height: 3;
		}

		/*
		.file-drop-box {
			background-repeat: no-repeat;
			background-image: url(/static/images/drop-guide.png);
			background-position-x: center;
			background-position-y: center;
		}
		.file-drop-box .guide {
			visibility: hidden;
		}
		*/

	.image-preview-container .thumbnail {
		position: relative;
		width: 100%;

		margin-bottom: 0;
		padding: 0;

		background-color: transparent; /* show blue-ish on dragging */
		border: none;
		box-shadow: none;
	}

	.image-preview-container .thumbnail .image-wrapper {
		position: relative;
		width: 100%;
	}

				/*
				.image-preview-container-inner {
					padding: 0;
				}
				.image-preview-container-inner .thumbnail {
					padding: 4px;
				}
				*/


.photo-form-control.form-control {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.image-preview-container-inner .crop-tool-layer {
	display: block;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}
	.crop-tool-layer .crop-info {
		display: inline-block;
		padding: 2px 5px;
		color: grey;
	}
	.crop-tool-layer .cropper-button {
		position: absolute;
		top: 0px;
		right: 0px;

		background-color: white;
	}

	/* don't over-show on small size */
	.crop-tool-layer {
		overflow: hidden;
	}
	.crop-tool-layer .crop-info {
		white-space: nowrap;
	}
	.crop-tool-layer .cropper-button {
		max-width: 100%;
		width: 54px;
	}

	.cropper-button.disabled {
		padding: 1px 3px;
	}
		.cropper-button.disabled .glyphicon-refresh {
			-animation: spin 1.7s infinite linear;
			-webkit-animation: spin-webkit 1.7s infinite linear;
		}



