

/*
 * Navigation Bar
 */
nav#nav {
}

  nav#nav .user-profile-image {
	width: 30px;
    height: 30px;
    display: inline-block;
	vertical-align: baseline;
  }
	nav#nav .user-profile-image .wrapper {
  	  display: inline-block;
	  width: 100%;
	  height: 100%;
	}
	nav#nav .user-profile-image .round-wrapper {
	  border: 1px solid;
	  border-radius: 50%;
	}

	nav#nav .user-profile-image i.glyphicon {
      font-size: 18px;
	  line-height: 30px;
	}
