.book-item {
	.media-left {
		padding-right: 10px;
		max-width: ~"calc(64px + 10px)";

		img.book-cover {
			width: 64px;
			min-height: 100px;
		}
	}

	.media-right {
		position: relative;
		width: 100%;

		.media-right-inner {
			position: absolute;
			width: ~"calc(100% - 50px)";
			height: 100%;
			padding-top: 3px;
		}

		a.media-right-inner {
			display: block;
			color: inherit;
			cursor: pointer;

			&:hover {
				text-decoration: none;
			}
		}

	}

	.media-right .book-status {
		position: absolute;
		bottom: 10px;
		width: 100%;
		padding-left: 1rem;

		.quote-count {
			font-size: 1.6em;

			i.glyphicon-comment {
				vertical-align: middle;
			}
		}
	}

	.media-right .new-quote-button-container {
		position: absolute;
		right: 0;
		bottom: 10px;
	}

}

