/*
 * Navigation Bar
 */

@import (reference) "./user_profile_image.less";

@nav-height: 50px;

@user-link-button-left-padding : 12px;
@user-link-button-right-padding: 12px;

nav#nav {
	height: @nav-height;

	// navbar-header
	.navbar-header {
		display: block;
		float: none;
		width: 120px;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar-right {
		position: absolute; 
		top: 0; 
		right: 8px;
		overflow: hidden;
	}

	.user-menu {
		right: 0; 
		left: auto;
	}

	.user-link {
		&.btn {
			padding: 6px @user-link-button-right-padding 6px @user-link-button-left-padding;
		}
		.username {
			display: inline-block;
			line-height: 1.5;
			vertical-align: middle;
		}
	}
}

// username width
.navbar-right[class^="col-"] {
	padding: 0;

	> .pull-right {
		width: 100%;
	}

	.user-link {
		text-align: right;
		width: 100%;

		.username {
			max-width: ~"calc(100% - @{user-link-button-left-padding} - @{user-profile-image-width} - @{user-link-button-right-padding})";
		}
	}
}


//
.truncate-ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

