<!DOCTYPE html>
<html lang="en">

<head>
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	{% if debug %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	{% else %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	{% endif %}

	<title>
		{% block title %}
		Book OCR
		{% endblock %}
	</title>
</head>

<body>

	<nav id="nav" class="navbar navbar-default">
		{% block navbar %}
		<div class="container">

			<button id="dlabel-1" class="btn btn-default navbar-btn pull-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="glyphicon glyphicon-chevron-right"></i>
			</button>

			<aside id="sidebar" class="dropdown-menu" aria-labelledby="dlabel-1" style="">
				{% block sidebar %}
				<ul class="nav nav-pills nav-stacked navbar" style="">
					<li role="presentation" class="active">
						<a href="{% url 'me' %}" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"><i class="glyphicon glyphicon-user"></i> User</a></li>
					<li role="presentation">
						<a href="#" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"><i class="glyphicon glyphicon-book"></i> Book</a></li>
				</ul>
				{% endblock %}
			</aside>

			<div class="navbar-header" style="float: none;">
	    		<a class="navbar-brand" href="{% url 'index' %}" style="
					display: block;
					float: none; width: 120px; margin-left: auto; margin-right: auto;
				">BookOCR</a>
			</div>

			<div class="navbar-right pull-right" style="position: absolute; top: 0; right: 8px;">
				{% if user.username %}
				<a class="dropdown-toggle btn navbar-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<i class="glyphicon glyphicon-user"></i>
					{{ user.username|truncatechars:10 }} 
					<i class="caret"></i>
				</a>
				<ul class="dropdown-menu" style="right: 0; left: auto;">
					<li><a href="#">Action</a></li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="{% url 'log_out' %}" class="navbar-link">로그아웃</a>
					</li>
				 </ul>
				 {% endif %}
			</div>
		</div>
		{% endblock %}
	</nav>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

	<div id="footer">
		<hr />

		{% block footer %}
		<div class="container">
			©2016 BookOCR
		</div>
		{% endblock %}
	</div>

<script>
</script>	
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
