{% extends "base.html" %}

{% block content %}	
<div class="container">
	<div class="row" style="margin-bottom:60px">
		<div class="col-lg-10">
			<p>지금 무슨 책을 읽고 계신가요? </p>
			<p>기억하고 싶은 문구가 있다면 사진을 찍어보세요.</p>	
			<p><button type="button" class="btn btn-default"><a href="{% url 'form' %}">문구 추가하기 </a></button>	</p>
		</div>
	</div>

	{% if quote_list %}
	<div class="row">
		<div class="col-lg-10">
			{% for quote in quote_list %}
				<p>{{ quote.date }}</p>			
 				<img src="{{ quote.photo.url }}" width="400px"/>  " blar blar blar ..."
				<hr>
			{% endfor %}
		</div>
	</div>
	{% endif %} 
</div>

{% endblock content %}


