{% extends "base.html" %}

{% block navbar %}
		<div class="container">
	  		<div class="navbar-header">
	    		<a class="navbar-brand" href="{% url 'index' %}">Book OCR</a>
			</div>
		</div>
{% endblock %}

{% block content %}	
<div class="container login-page">
	<div class="row">
		<div class="col-lg-12">
			<h1>안녕하세요. </h1>
			<p>지금 읽고 있는 책에서 발견한 멋진 문구, 그냥 지나치지 마세요. </p>
			<p>이제 사진으로 찍어서 기록으로 남길 수 있습니다. </p>		

 			<p>
				<a href="{% url 'social:begin' 'facebook' %}?next={% url 'index' %}" class="facebook-login-button btn btn-primary">Facebook으로 로그인하기</a>
			</p>			

 			<p>페이스북 로그인은 인증용으로, 사용자의 페이스북 담벼락에 어떤 것도 포스팅하지 않습니다.</p> 
		</div>
	</div>
</div>

{% endblock content %}
