{% load humanize %}
<div class="quote thumbnail">
	<div class="background-image">
		<!--img src="{{ quote.photo.url }}" /-->
		<div class="img-block" style="background-image: url({{ quote.photo.url }})"></div>
	</div>

	<div class="caption">

		<!--
		<h3>Thumbnail label</h3>
		-->

		{% if quote.quotation %}
			<p class="quote">
				<span class="quotation-mark">“</span>
				{{ quote.quotation }}
			</p>
		{% else %}
			<p class="no-quote">
				<a href="{% url 'new_quote_ocr' book_id=quote.book.id quote_id=quote.id %}">사진에서 영역을 지정해 주세요.</a>
			</p>
		{% endif %}

		<div class="quote-source">
			-
			<a href="{% url 'book' book_id=quote.book.id %}" class="book">
				<span class="title">{{quote.book.title|default:"무슨 책?" }}</span>,
				<span class="author">{{quote.book.authors}}</span>
			</a>
		</div>

		<div class="additional text-right">
			<time datetime="{{ quote.created_at }}" title="{{ quote.created_at }}">{{ quote.created_at|naturalday }}</time>
			<span class="quote-writer">
				<span class="user-profile-image">
					{% if quote.user.profile_picture_url %}
						<img src="{{ quote.user.profile_picture_url }}" class="wrapper round-wrapper" >
					{% else %}
						<span class="wrapper">
							<i class="glyphicon glyphicon-user"></i>
						</span>
					{% endif %}
				</span>
				<span class="username hidden-xs truncate-ellipsis">
					{{ quote.user.username }} 
				</span>
			</span>
		</div>
	</div>
</div>

