{% load humanize %}
<div class="quote thumbnail">
	<div class="background-image">
		<!--img src="{{ quote.photo.url }}" /-->
		<div class="img-block" style="background-image: url({{ quote.photo.url }})"></div>
	</div>

	<div class="caption">
		<time class="pull-right" datetime="{{ quote.date }}" title="{{ quote.date }}">{{ quote.date|naturalday }}</time>

		<!--
		<h3>Thumbnail label</h3>
		-->

		<p class="quote" style="margin-top: 20px; padding-left:30px;">
			<span class="quotation-mark">“</span>
			{% if quote.quotation %}
				{{ quote.quotation }}
			{% else %}
				<a href="{% url 'new_quote_ocr' book_id=quote.book.id quote_id=quote.id %}">사진에서 문구 영역을 정해 주세요.</a>
			{% endif %}
		</p>

		<div class="quote-source">
			-
			<a href="" class="book">
				<span class="title">{{quote.book.title|default:"무슨 책?" }}</span>
				, <span class="author">{{quote.book.authors}}</span>
			</a>
		</div>

		<div class="text-right">
			<time datetime={{ quote.created_at }}>{{ quote.created_at }}</time>
			<span class="quote-writer">
				<span class="user-profile-image">
					{% if quote.user.profile_picture_url %}
						<img src="{{ quote.user.profile_picture_url }}" class="wrapper round-wrapper" >
					{% else %}
						<span class="wrapper">
							<i class="glyphicon glyphicon-user"></i>
						</span>
					{% endif %}
				</span>
				<span class="username hidden-xs">{{ quote.user.username }}</span>
			</span>
		</div>
	</div>
</div>

