<script type="text/javascript">

function handleFiles(files) {
    // display file info
    $('.file-info').text(files[0].name);

    // render preview
    var $preview = $('.image-preview-container'),
        $inner   = $preview.find('.image-preview-container-inner .thumbnail');
    var $textarea = $('textarea[name="quotation"]');
    renderImagePreview(files, $preview, $inner)
        .then(function(imgEl) {
            return activateOCR(imgEl).then(function(ocrResult) {
                // update text
                var text = ocrResult.text;
                $textarea.val(text);

                // focus
                $textarea[0].focus();

                // highlight
                var $flasher = $('<div class="flasher form-control" />').css({
                    'position': 'absolute',
                    'width': 'calc(100% - 30px)',
                    'height': '100%',
                    'top': '0',
                    'left': '0',
                    'margin': '0 15px',
                    'background-color': 'yellow',
                }).hide();
                $textarea.after($flasher);
                $flasher.show().fadeOut('slow');
            });
        })
    ;
}

function activateOCR(imgEl) {
    var dfd = $.Deferred();

    try {
        var $img     = $(imgEl),
            $wrapper = $img.parent();
        
        // show cropper
        var cropper = initCropper($img, $wrapper);
        
        // bind crop toolbar
        var $toolbar = addCropToolbar(cropper, $wrapper, $img, function(ocrResult) {
            dfd.resolve(ocrResult);
        });

        // select default cropped area
        var width  = $img.width(),
            height = $img.height();
        var selectRect = { // blindly select (15~-15%, 25~-25%)
            x: width * 0.15, 
            w: width * (1 - (0.15)*2),
            y: height * 0.25,
            h: height * (1.0 - (0.25)*2),
        };
        cropper.select(selectRect);

    } catch(err) {
        dfd.reject(err);
    }
    return dfd.promise();
}

// add selected image to preview
function renderImagePreview(files, $container, $inner) {

    // empty preview
    $inner.empty();

    var file;
    for (var i = 0; i < files.length; i++) {
        file = files[0];
        var imageType = /^image\//;

        if (!imageType.test(file.type)) {
            continue;
        }
        break;
    }

    // 
    // create image element
    var img = document.createElement("img");
        img.classList.add("obj");
        img.file = file;
        img.setAttribute('style', 'max-width: 100%; max-height: 100%;');
    $inner.append($('<div class="image-wrapper" />').append(img)); // Assuming that "preview" is the div output where the content will be displayed.

    // build reader
    var reader = new FileReader();
    reader.onload = (function(_img) {
        return function(ev) { 
            _img.src = ev.target.result; 
        }; 
    })(img);
    reader.readAsDataURL(file);

    // promise
    var dfd = jQuery.Deferred();
    reader.onerror = function(err) { dfd.reject(err) };

    img.onload  = function()    { dfd.resolve(this) };
    img.onerror = function(err) { dfd.reject(err)   };

    return dfd.promise();
}


function bindDragNDrop($dropbox) {
	return $dropbox
		.on('dragenter', function(ev) {
			$dropbox.addClass('is-dragging-in');
				//console.log('dragenter', this, ev);
			ev.preventDefault();
			ev.stopPropagation();
		})
		.on('dragover', function(ev) {
				//console.log('dragover');
			ev.preventDefault();
			ev.stopPropagation();
		})
		.on('dragleave', function(ev) {
			$dropbox.removeClass('is-dragging-in');
				//console.log('dragleave', ev);
			ev.preventDefault();
			ev.stopPropagation();
		})
		.on('drop', function(ev) {
			ev.preventDefault();
			ev.stopPropagation();
			$dropbox.removeClass('is-dragging-in');

            // XXX: this doesn't set the files input

			var dt = ev.originalEvent.dataTransfer;
			var files = dt.files;

			//
			handleFiles(files);
		})
	;
}

function initCropper($img, $parent) {
    // cropper
    var cropper = new Cropper();
    $parent.data('cropper', cropper);

    // init
    var width  = $img.width(),
        height = $img.height();
    var selectRect = { // blindly select (15~-15%, 25~-25%)
        x: width * 0.15, 
        w: width * (1 - (0.15)*2),
        y: height * 0.25,
        h: height * (1.0 - (0.25)*2),
    };
    var fullSize = { w: width, h: height };
    cropper.init($parent, null, null, fullSize);

    return cropper;
}

function addCropToolbar(cropper, $wrap, $img, onOCR) {
    // render save button
    var imgSrc = '';//$img.attr('src');

    var $form;
    var $cropInfo,
        $saveBtn,
        $description
    ;
    var $toolbar = $(`
        <div class="crop-tool-layer"></div>
    `).append(
        ($form = $(`
            <form method="POST">
                <input type="hidden" name="img_url" value="${imgSrc}" />
                <input type="hidden" name="x" value="" />
                <input type="hidden" name="y" value="" />
                <input type="hidden" name="w" value="" />
                <input type="hidden" name="h" value="" />
            </form>`).append([
                ($cropInfo = $(`<span class="crop-info"></span>`)),
                $(`<div class="cropper-button-wrapper"></div>`).append(
                    ($saveBtn = $(`
                        <button class="cropper-button btn btn-xs" data-loading-text="인식중 <i class='glyphicon glyphicon-refresh'></i>">자동인식</button>
                    `))
                )
            ])
        )
    );

    // $saveBtn
    var _isSaving = false;
    $saveBtn.on('click', function(ev) {
        console.log('click:', ev);
        ev.preventDefault();
        if (_isSaving) { return }

        // POST image
        var imgData = $form.serializeArray().reduce((memo, obj) => {
            memo[obj.name] = obj.value;
            return memo;
        });
        var pr = postOCR(imgData);

        _isSaving = true;
        $saveBtn.button('loading');

        pr.then(function(ocrResult) {
            _isSaving = false;
            $saveBtn.button('reset')

            //
            if (typeof onOCR === 'function') {
                onOCR(ocrResult);
            }

        }, function(err) {
            console.error(err);

            _isSaving = false;
        });
    });

    //
    // cropper events
    //
    cropper.on('change', function(ev, x,y,w,h) {
        $toolbar.hide();
    });
    cropper.on('select:start', function(ev, x,y,w,h) {});
    cropper.on('release', function() {});

    cropper.on('select', function(ev, x,y,w,h) {
        var $selection = cropper.$selection();

        // update crop-rect info
        $form
            .find('input[name="x"]').val(x).end()
            .find('input[name="y"]').val(y).end()
            .find('input[name="w"]').val(w).end()
            .find('input[name="h"]').val(h).end();

        var cropInfoText = `x ${x} y ${y} w ${w} h ${h}`;
        $cropInfo.attr('title', cropInfoText).text(cropInfoText);

        //
        $toolbar
            .show()
            .appendTo($selection);
    });

    return $toolbar;
}

function postOCR(imgData) {
    var dfd = jQuery.Deferred();

    setTimeout(function() {
        dfd.resolve({
            text: '봐! 나는 살or있어'
        });
    }, 3000 + (Math.random() * 1000) - 500)

    return dfd.promise();
}


function bindTypebook($el) {
    //var source = new GoogleBooksAuth('AIzaSyAZBL1esHOeaMG_HRemyBKXm-d-o1Z_x-I');
    var source = new BandiNLunis();
	var $typebook = $el.typeahead({
        //minLength: 0,
    }, _.assign({
		name: 'book',
		//source: engine.source({ $typebook: $($el) }),
        source: source,
		//source: function (q, sync) {
		//	if (q === '') {
		//		sync(source.get('Detroit Lions', 'Green Bay Packers', 'Chicago Bears'));
		//	}
		//	else {
		//		source.search(q, sync);
		//	}
		//},
        limit: 10,
		display: 'value',
		hint: true,
		templates: {
			notFound: '<div class="empty-message">적당한 책을 찾을 수가 없습니다.</div>',
			pending: '<div class="pending-message">Searching... <i class="glyphicon glyphicon-refresh"></i></div>',
			suggestion: function(context) {
				return `<div target='_blank' id='${context.idStr}' class='${context.classStr}'>
					<div class='img-wrapper thumbnail'>
						<img class='' src='${context.thumbnail}' />
					</div>
					<div class='book-info'>
						<div class='first-row'>
							<span class='book-title'>${context.title}</span>, <span class='book-author'>${context. authorsStr }</span>
						</div>
						<div class='second-row ${context.subtitleStr && context.subtitleStr.length > 0 ? "" : "hide"}'>
							<span class='book-subtitle' title=${context.subtitleStr}>${context.subtitleStr}</span>
						</div>
						<div class='third-row'>
							<span class='book-publisher'>${context.publisher}</span>
						</div>
					</div>
					<div class='cleaner'></div>
				</div>`;
            }
		},
	}));
}


function inputFollowsDrag($dropZone, $clickZone, $inputFile, mouseOverClass) {
    var ooleft    = $dropZone.offset().left;
    var ooright   = $dropZone.outerWidth() + ooleft;
    var ootop     = $dropZone.offset().top;
    var oobottom  = $dropZone.outerHeight() + ootop;

    // $input follows on drag
    $dropZone.on("dragover", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $dropZone.addClass(mouseOverClass);

        var x = e.pageX;
        var y = e.pageY;

        var top, left;
        if (ooleft <= x&&x <= ooright && ootop <= y&&y <= oobottom) {
            top  = y - 15;
            left = x - 100;
        } else {
            top  = -400;
            left = -400;
        }
        $inputFile.offset({ top: top, left: left });
    });
    $dropZone.on("dragleave", function (e) {
        $dropZone.removeClass(mouseOverClass);
    });
    $dropZone.on("drop", function (e) {
        $dropZone.removeClass(mouseOverClass);
        $inputFile.offset({top: 0, left: 0}); // reset input position.
    });

    // $input follows inside $clickZone. makes it clickable.
    if ($clickZone && $clickZone.length > 0) {
        var oleft   = $clickZone.offset().left;
        var oright  = $clickZone.outerWidth() + oleft;
        var otop    = $clickZone.offset().top;
        var obottom = $clickZone.outerHeight() + otop;

        $clickZone.mousemove(function (e) {
            var x = e.pageX;
            var y = e.pageY;
            if (!(x < oleft || x > oright || y < otop || y > obottom)) {
                $inputFile.offset({ top: y - 15, left: x - 160 });
            } else {
                $inputFile.offset({ top: -400, left: -400 });
            }
        });
    }

    return $dropZone;
}


// files input DnD
$(function() {
    var $droppable = $('.file-droppable');

    // directly set dragover and drop
	//bindDragNDrop($droppable);

    // files input follows drag
    var $inner  = $('.image-preview-container-inner');
    var $inputFile = $('input#photo').css({
        'position': 'absolute',
        'opacity': 0,
        //'width': '0.1px',
        //'height': '0.1px',
        //'overflow': 'hidden',
        //'z-index': '-1', // XXX: cannot drop
    }).appendTo($inner);
    var $label = $inner.find('label[for="photo"]');
    var $clickZone = null;
    inputFollowsDrag($droppable, $clickZone, $inputFile, 'is-dragging-in');
});


// book type
$(function() {
    var $bookInput = $('input[name="book-title"]');
	bindTypebook($bookInput);
});
</script>

