{% extends "base.html" %}

{% block content %}	
<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<form class="form-horizontal" action="{% url 'add' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

				<h4>마음에 든 문구를 담아 주세요.</h4>

				<div class="form-group">
					<label class="control-label hidden-xs col-sm-2">책</label>
					<div class="col-xs-12 col-sm-10">
						<input type="text" class="form-control" name="book-title" placeholder="책 제목을 입력해 주세요.">
					</div>
				</div>

				<div class="form-group">
                    <label class="control-label hidden-xs col-sm-2">사진</label>
					<div class="col-xs-12 col-sm-10">
						<div class="photo-form-control form-control">
							<label class="control-label col-xs-3 visible-xs">사진</label>
							<div class="col-xs-9 col-sm-12">
								<input type="file" class="x-form-control" name="photo" id="photo" accept="image/*" multiple onchange="handleFiles(this.files)" />
							</div>
						</div>
					</div>
                    <div class="image-preview-container file-droppable col-xs-12 col-sm-offset-2 col-sm-10">
						<div class="image-preview-container-inner">
							<label class="file-drop-box" for="photo">
								<div class="guide">
									<i class="glyphicon glyphicon-picture"></i>
									<p>이미지를 여기다 드래그 해주세요.</p>
								</div>
							</label>
							<div class="thumbnail">
								<!--
								<img class="obj" style="max-width: 100%; max-height: 100%;" src="">
								-->
							</div>
						</label>
                    </div>
				</div>

				<div class="form-group">
					<label class="control-label hidden-xs col-sm-2">문구</label>
					<div class="col-xs-12 col-sm-10">
						<textarea class="form-control" name="quotation" placeholder="최고의 시절이었고..."></textarea>
					</div>
					<!--
					<div class="">
                        <button type="button" class="btn"><i class="glyphicon glyphicon-eye-open"></i></button>
					</div>
					-->
				</div>

				<div class="form-group">
					<div class="col-xs-12 text-right">
						<button type="submit" class="btn btn-primary">등록</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


{% if debug %}
	{% load staticfiles %}
	<script src="{% static 'libs/typeahead-0.11.1/typeahead.jquery.js' %}"></script>
	<script src="{% static 'libs/typeahead-0.11.1/bloodhound.js' %}"></script>
	<script src="{% static 'libs/lodash.4.13.1.min.js' %}"></script>
	<script src="{% static 'libs/handlebars.4.0.5.min.js' %}"></script>
{% else %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{% endif %}
<script src="{% static 'libs/typebook/typebook.js' %}"></script>
<!--<script src="{% static 'libs/typebook/typebook.googlebooks.js' %}"></script>-->
<script src="{% static 'libs/typebook/google_books_auth.js' %}"></script>
<script src="{% static 'libs/typebook/bandi_n_lunis.js' %}"></script>
<link rel="stylesheet" href="{% static 'libs/typebook/typeahead.css' %}">
<link rel="stylesheet" href="{% static 'libs/typebook/typebook.css' %}">

<script src="{% static 'libs/jcrop-0.9.12/js/jquery.Jcrop.js' %}"></script>
<link href="{% static 'libs/jcrop-0.9.12/css/jquery.Jcrop.min.css' %}" rel="stylesheet" type="text/css"></link>


<script src="{% static 'js/cropper.js' %}"></script>
{% include "quote/new.js.html" %}

{% endblock content %}

