{% extends "base.html" %}

{% block content %}	
<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<form name="add-photo" class="form-horizontal" action="{% url 'add' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

				<h4>마음에 든 문구를 담아 주세요.</h4>

				<div class="book-form-group form-group">
					<label class="control-label hidden-xs col-sm-2">책</label>
					<div class="col-xs-12 col-sm-10">
						<input type="text" class="form-control" name="book-title" placeholder="책 제목을 입력해 주세요." value="{{book.title}}" >
					</div>
					<input type="hidden" name="book-isbn" value="{{book.isbn13}}" />
					<input type="hidden" name="book-authors" value="{{book.authors}}" />
					<input type="hidden" name="book-cover-url" value="{{book.cover_url}}" />
					<input type="hidden" name="book-response" value="{{book.raw_response}}" />
				</div>

				<div class="quote-photo-form-group form-group">
                    <label class="control-label hidden-xs col-sm-2">사진</label>
					<div class="col-xs-12 col-sm-10">
						<div class="photo-form-control form-control">
							<label class="control-label col-xs-3 visible-xs">사진</label>
							<div class="col-xs-9 col-sm-12">
								<span class="file-info"></span>

								<!-- sliced -->
								<input type="file" class="x-form-control" name="photo" id="photo" accept="image/*" multiple onchange="handleFiles(this.files)" />
							</div>
						</div>
					</div>
                    <div class="image-preview-container file-droppable col-xs-12 col-sm-offset-2 col-sm-10">
						<div class="image-preview-container-inner">
							<label class="file-drop-box" for="photo">
								<div class="guide">
									<i class="glyphicon glyphicon-picture"></i>
									<p>이미지를 <span class="drag">드래그하거나</span> <span class="add">추가</span> 해주세요.</p>
								</div>
							</label>
							<div class="thumbnail">
								<!--
								<div class="image-wrapper">
									<img class="obj" src="">
								</div>
								-->
							</div>
						</div>
                    </div>
				</div>

				<div class="form-group hidden">
					<label class="control-label hidden-xs col-sm-2">문구</label>
					<div class="col-xs-12 col-sm-10">
						<textarea class="form-control" name="quotation" placeholder="최고의 시절이었고..."></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12 text-right">
						<!--
						<button name="save" class="btn btn-default">저장</button>
						-->
						<button type="submit" name="next" class="btn btn-primary">
							다음 <i class='glyphicon glyphicon-chevron-right'></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% if debug %}
	{% load staticfiles %}
	<script src="{% static 'libs/typeahead-0.11.1/typeahead.jquery.js' %}"></script>
	<script src="{% static 'libs/typeahead-0.11.1/bloodhound.js' %}"></script>
	<script src="{% static 'libs/lodash.4.13.1.min.js' %}"></script>
	<script src="{% static 'libs/handlebars.4.0.5.min.js' %}"></script>
{% else %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{% endif %}
<script src="{% static 'libs/typebook/typebook.js' %}"></script>
<!--<script src="{% static 'libs/typebook/typebook.googlebooks.js' %}"></script>-->
<!--script src="{% static 'libs/typebook/google_books_auth.js' %}"></script-->
<!--script src="{% static 'libs/typebook/bandi_n_lunis.js' %}"></script-->
<script src="{% static 'libs/typebook/daum_book.js' %}"></script>
<link rel="stylesheet" href="{% static 'libs/typebook/typeahead.css' %}">
<link rel="stylesheet" href="{% static 'libs/typebook/typebook.css' %}">

{% load compress %}
{% compress js %}
<script src="{% static 'js/utils.js' %}"></script>
{% endcompress %}

<script type="text/javascript">
	var recentBooks = JSON.parse('{{recent_books|escapejs}}');
</script>
{% compress js %}
<script src="{% static 'js/quote/new.js' %}" type="text/javascript"></script>
<script type="text/es6">
$(function() {
	//
	const typeBookSource = (defaultData) => {
		//return new GoogleBooksAuth('AIzaSyAZBL1esHOeaMG_HRemyBKXm-d-o1Z_x-I');
		//return new BandiNLunis({ local: defaultData });
		return new DaumBook('770314f63c70887c58b51da9ab9dc3e3', { local: defaultData });
	}

	//
	var $form = $('form[name="add-photo"]');
	var $droppable    = $('.file-droppable');
	var $previewInner = $('.image-preview-container-inner');
	var $inputFile    = $('input#photo');

	// book type
	var $bookFormGroup = $('.book-form-group'),
		$bookInput     = $bookFormGroup.find('input[name="book-title"]');

	//
	initializeQuoteNew({
		//
		$form,
		$droppable,
		$clickZone: null,
		$inputFile,
		$previewInner,
		//
		$bookInput,
		$bookFormGroup
	}, recentBooks, typeBookSource)
});
</script>
{% endcompress %}

{% endblock content %}

