<script type="text/javascript">

function handleFiles(files) {
    // post to server AJAX

    // render preview
    var $preview = $('.image-preview-container'),
        $inner   = $preview.find('.image-preview-container-inner .thumbnail');
    renderImagePreview(files, $preview, $inner)
        .then(function(imgEl) {
            //activateOCR(imgEl);
        })
    ;
}

function activateOCR(imgEl) {
    //// show cropper
    //var cropper = initCropper($preview);
    //cropper.on('select', function(ev) {
    //    var selectedArea;

    //    postTextDetection(selectedArea)
    //        .then(function(recognizedText) {

    //            // render to textarea

    //        });
    //});

    var $img = $(imgEl);
    var cropper = initCropper($img);
    var $toolbar = addCropToolbar(cropper, $img.parent(), $img)
}

// add selected image to preview
function renderImagePreview(files, $container, $inner) {

    // empty preview
    $inner.empty();

    var file;
    for (var i = 0; i < files.length; i++) {
        file = files[0];
        var imageType = /^image\//;

        if (!imageType.test(file.type)) {
            continue;
        }
        break;
    }

    // 
    // create image element
    var img = document.createElement("img");
        img.classList.add("obj");
        img.file = file;
        img.setAttribute('style', 'max-width: 100%; max-height: 100%;');
    $inner.append(img); // Assuming that "preview" is the div output where the content will be displayed.

    // build reader
    var reader = new FileReader();
    reader.onload = (function(_img) {
        return function(ev) { 
            _img.src = ev.target.result; 
        }; 
    })(img);
    reader.readAsDataURL(file);

    // promise
    var dfd = jQuery.Deferred();
    reader.onerror = function(err) { dfd.reject(err) };

    img.onload  = function()    { dfd.resolve(this) };
    img.onerror = function(err) { dfd.reject(err)   };

    return dfd.promise();
}


function bindDragNDrop($dropbox) {
	$dropbox
		.on('dragenter', function(ev) {
			$dropbox.addClass('is-dragging-in');
				console.log('dragenter', this, ev);
			ev.preventDefault();
			ev.stopPropagation();
		})
		.on('dragover', function(ev) {
				console.log('dragover');
			ev.preventDefault();
			ev.stopPropagation();
		})
		.on('dragleave', function(ev) {
			$dropbox.removeClass('is-dragging-in');
				console.log('dragleave', ev);
			ev.preventDefault();
			ev.stopPropagation();
		})
		.on('drop', function(ev) {
			ev.preventDefault();
			ev.stopPropagation();
			$dropbox.removeClass('is-dragging-in');

			var dt = ev.originalEvent.dataTransfer;
			var files = dt.files;

			//
			handleFiles(files);
		})
	;
}

function initCropper($img) {
    var $parent = $img.parent();

    // cropper
    var cropper = new Cropper();
    $parent.data('cropper', cropper);

    // init
    var width  = $img.width(),
        height = $img.height();
    var selectRect = { // blindly select (15~-15%, 25~-25%)
        x: width * 0.15, 
        w: width * (1 - (0.15)*2),
        y: height * 0.25,
        h: height * (1.0 - (0.25)*2),
    };
    var fullSize = { w: width, h: height };
    cropper.init($parent, null, null, fullSize);

    return cropper;
}

function addCropToolbar(cropper, $wrap, $img) {
    // render save button
    var imgSrc = $img.attr('src');

    var $form;
    var $cropInfo,
        $saveBtn,
        $description
    ;
    var $toolbar = $(`
        <div class="tool-layer"></div>
    `).append(
        ($form = $(`
            <form method="POST">
                <input type="hidden" name="img_url" value="${imgSrc}" />
                <input type="hidden" name="x" value="" />
                <input type="hidden" name="y" value="" />
                <input type="hidden" name="w" value="" />
                <input type="hidden" name="h" value="" />
            </form>`).append([
                ($cropInfo = $(`<span class="crop-info"></span>`)),
                $(`<div class="cropper-button-wrapper"></div>`).append(
                    ($saveBtn = $(`
                        <button class="cropper-button" target="_blank">Save</button>
                    `))
                )
            ])
        )
    );

    // $saveBtn
    var _isSaving = false;
    $saveBtn.on('click', function(ev) {
        console.log('click:', ev);
        ev.preventDefault();
        //if (_isSaving) { return }

        //// POST image
        //const pageMeta = C.getPageMeta();
        //var imgData = $form.serializeArray()
        //    .reduce((memo, obj) => {
        //        memo[obj.name] = obj.value;
        //        return memo;
        //    }, { 
        //        page_meta: pageMeta,
        //    });
        ////
        //image_store.post(imgData);
        //_isSaving = true;

        ////
        //moveCloneFx(cropper.$selection(), imgSrc);

        //$saveBtn.addClass(C.C_DISABLED);
    });
    //image_store.on('post post:fail', function() {
    //    _isSaving = false;
    //    $saveBtn.removeClass(C.C_DISABLED);
    //});

    //
    // cropper events
    //
    cropper.on('change', function(ev, x,y,w,h) {
        $toolbar.hide();
    });
    cropper.on('select:start', function(ev, x,y,w,h) {});
    cropper.on('release', function() {});

    cropper.on('select', function(ev, x,y,w,h) {
        var $selection = cropper.$selection();

        // update crop-rect info
        $form
            .find('input[name="x"]').val(x).end()
            .find('input[name="y"]').val(y).end()
            .find('input[name="w"]').val(w).end()
            .find('input[name="h"]').val(h).end();
        $cropInfo.text(`x ${x} y ${y} w ${w} h ${h}`);

        //
        $toolbar
            .show()
            .appendTo($selection);
    });

    return $toolbar;
}


function bindTypebook($el) {
    //var source = new GoogleBooksAuth('AIzaSyAZBL1esHOeaMG_HRemyBKXm-d-o1Z_x-I');
    var source = new BandiNLunis();
	var $typebook = $el.typeahead({
        //minLength: 0,
    }, _.assign({
		name: 'book',
		//source: engine.source({ $typebook: $($el) }),
        source: source,
		//source: function (q, sync) {
		//	if (q === '') {
		//		sync(source.get('Detroit Lions', 'Green Bay Packers', 'Chicago Bears'));
		//	}
		//	else {
		//		source.search(q, sync);
		//	}
		//},
        limit: 10,
		display: 'value',
		hint: true,
		templates: {
			notFound: '<div class="empty-message">적당한 책을 찾을 수가 없습니다.</div>',
			pending: '<div class="pending-message">Searching... <i class="glyphicon glyphicon-refresh"></i></div>',
			suggestion: function(context) {
				return `<div target='_blank' id='${context.idStr}' class='${context.classStr}'>
					<div class='img-wrapper thumbnail'>
						<img class='' src='${context.thumbnail}' />
					</div>
					<div class='book-info'>
						<div class='first-row'>
							<span class='book-title'>${context.title}</span>, <span class='book-author'>${context. authorsStr }</span>
						</div>
						<div class='second-row ${context.subtitleStr && context.subtitleStr.length > 0 ? "" : "hide"}'>
							<span class='book-subtitle' title=${context.subtitleStr}>${context.subtitleStr}</span>
						</div>
						<div class='third-row'>
							<span class='book-publisher'>${context.publisher}</span>
						</div>
					</div>
					<div class='cleaner'></div>
				</div>`;
            }
		},
	}));
}


$(function() {
	//
    var $droppable = $('.file-droppable');
	bindDragNDrop($droppable);

	//
    var $bookInput = $('input[name="book-title"]');
	bindTypebook($bookInput);
});
</script>

