{% load humanize %}
<div class="quote thumbnail">
	<div class="background-image">
		<!--img src="{{ quote.photo.url }}" /-->
		<div class="img-block" style="background-image: url({{ quote.photo.url }})"></div>
	</div>

	<div class="caption">
		<time class="pull-right" datetime="{{ quote.date }}" title="{{ quote.date }}">{{ quote.date|naturalday }}</time>

		<!--
		<h3>Thumbnail label</h3>
		-->

		<p class="quote" style="margin-top: 20px; padding-left:30px;">
			<span class="quotation-mark">“</span>
			{{ quote.quotation|default:"Say something..." }}
		</p>

		<div class="text-right">
			-
			<a href="" class="book">
				<span class="title">{{quote.book.title|default:"무슨 책?" }}</span>
				<span class="author"></span>
			</a>
		</div>

		<div class="writer">
			<img src="" />

			{{ quote.user.username }}
		</div>

		<!--p>
			<a href="#" class="btn btn-primary" role="button">Button</a> 
			<a href="#" class="btn btn-default" role="button">Button</a>
		</p-->
	</div>
</div>

