{% extends "base.html" %}

{% block content %}	
<div class="container">
	<div class="row" style="margin-bottom:60px">
		<div class="col-xs-offset-1 col-xs-9">
			<p>지금 무슨 책을 읽고 계신가요? </p>
			<p>기억하고 싶은 문구가 있다면 사진을 찍어보세요.</p>	
		</div>
		<div class="col-xs-1">
			<a href="{% url 'new_quote' %}" class="btn btn-primary">
				<span class="sr-only">문구 추가하기</span>
				<i class="glyphicon glyphicon-plus"></i>
			</a>
		</div>
	</div>

	{% if quote_list %}
	<div class="row">
		<div class="col-xs-offset-1 col-xs-10">
			{% for quote in quote_list %}
				{% include "_client/_quote.html" %}
			{% endfor %}
		</div>


	</div>
	{% endif %} 
</div>

{% endblock content %}


