{% extends "base.html" %}

{% block content %}	
<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<h4>문구를 담아 주세요.</h4>

			<form class="form-horizontal" action="{% url 'add' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="form-group">
					<label class="control-label hidden-xs col-sm-2">책</label>
					<div class="col-xs-12 col-sm-10">
						<input type="text" class="form-control" name="book-title" placeholder="책 제목">
					</div>
				</div>

				<div class="form-group">
                    <label class="control-label hidden-xs col-sm-2">사진</label>
					<div class="col-xs-12 col-sm-10">
						<div class="form-control">
							<label class="control-label col-xs-3 visible-xs">사진</label>
							<div class="col-xs-9 col-sm-12">
								<input type="file" class="x-form-control" name="photo" id="photo" accept="image/*" multiple onchange="handleFiles(this.files)" />
							</div>
						</div>
					</div>
                    <div class="image-preview-container col-xs-12">
						<div class="file-drop-box">
							<div class="guide">
								<i class="glyphicon glyphicon-picture"></i>
								<p>이미지를 여기다 드래그 해주세요.</p>
							</div>
						</div>
                    </div>
				</div>

				<div class="form-group">
					<label class="control-label hidden-xs col-sm-2">문구</label>
					<div class="col-xs-12 col-sm-10">
						<textarea class="form-control" name="quotation" placeholder="내용.."></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12 text-right">
						<button type="submit" class="btn btn-primary">등록</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>

function handleFiles(files) {

	// add selected image to preview
    var $preview = $('.image-preview-container');
    $preview.empty();

    for (var i = 0; i < files.length; i++) {
        var file = files[i];
        var imageType = /^image\//;

        if (!imageType.test(file.type)) {
            continue;
        }

        var img = document.createElement("img");
            img.classList.add("obj");
            img.file = file;
            img.setAttribute('style', 'max-width: 100%; max-height: 100%;');
        $preview.append(
                $('<div class="thumbnail" />')
                    .append(img)
        ); // Assuming that "preview" is the div output where the content will be displayed.

        //
        var reader = new FileReader();
        reader.onload = (function(aImg) { 
            return function(e) { 
                aImg.src = e.target.result; 
            }; 
        })(img);
        reader.readAsDataURL(file);
    }
}

$(function() {
	var $dropbox = $('.file-drop-box');
	$dropbox
		.on('dragenter', function(ev) {
			$dropbox.addClass('is-dragging-in');
				console.log('dragenter', ev);
			ev.preventDefault();
			ev.stopPropagation();
		})
		.on('dragover', function(ev) {
				console.log('dragover');
			ev.preventDefault();
			ev.stopPropagation();
		})
		.on('dragleave', function(ev) {
			$dropbox.removeClass('is-dragging-in');
				console.log('dragleave', ev);
			ev.preventDefault();
			ev.stopPropagation();
		})
		.on('drop', function(ev) {
			ev.preventDefault();
			ev.stopPropagation();
			$dropbox.removeClass('is-dragging-in');

			var dt = ev.originalEvent.dataTransfer;
			var files = dt.files;

			//
			handleFiles(files);
		})
	;
		
});

</script>
{% endblock content %}

