<table>
<thead>
<tr>
<th></th>
<th>젊은 회의주의자에게 보내는 편지</th>
<th>스페이스 크로니클</th>
<th>의심스러운 싸움</th>
<th>신들의 전쟁</th>
<th>사피엔스의 미래</th>
<th>사피엔스의 미래</th>
<th>작은 것들의 신</th>
<th>한밤의 아이들</th>
<th>1417년 근대의 탄생</th>
</tr>
</thead>
<tbody>
<tr>
<td>저자</td>
<td>크리스토퍼 히친스</td>
<td>닐 타이슨</td>
<td>존 스타인벡</td>
<td>닐 게이먼</td>
<td></td>
<td>아룬다티 로이</td>
<td>살만 루슈디</td>
<td></td>
<td></td>
</tr>
<tr>
<td>쪽수</td>
<td>248</td>
<td>448</td>
<td>334</td>
<td>411</td>
<td>208</td>
<td>284</td>
<td>488</td>
<td>504</td>
<td>400</td>
</tr>
<tr>
<td>ebook</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>goodreads</td>
<td>4.4 (x140)</td>
<td>3.95 (x4,623)</td>
<td>3.89 (x7,388)</td>
<td>4.1 (x441,922)</td>
<td>3.42 (x12)</td>
<td>4.36 (x69,971)</td>
<td>3.0 (x168,649)</td>
<td>3.99 (x79,553)</td>
<td>3.83 (x19,349)</td>
</tr>
<tr>
<td>amazon</td>
<td>4.15 (x6,580)</td>
<td>4.4 (x202)</td>
<td>4.4 (x108)</td>
<td>4.2 (x3,380)</td>
<td>5.0 (x2)</td>
<td>4.7 (x4,985)</td>
<td>3.0 (x1,235)</td>
<td>4.0 (x421)</td>
<td>4.2 (x711)</td>
</tr>
<tr>
<td>aladin</td>
<td>4.0 (x3)</td>
<td>4.4 (x10)</td>
<td>3.9 (x4)</td>
<td>3.35 (x10)</td>
<td>4.35</td>
<td>4.8 (x287)</td>
<td>4.7 (x12)</td>
<td>4.85 (x20)</td>
<td>4.6 (x14)</td>
</tr>
<tr>
<td>kyobo</td>
<td>4.1 (x7)</td>
<td>5.0 (x4)</td>
<td>5.0 (x1)</td>
<td>3.75 (x6)</td>
<td>5 (x2)</td>
<td>5 (x47)</td>
<td>5 (x1)</td>
<td>- (x0)</td>
<td>- (x0)</td>
</tr>
<tr>
<td>yes24</td>
<td></td>
<td></td>
<td></td>
<td>3 (x14)</td>
<td>4 (x12)</td>
<td>4 (x12)</td>
<td>5 (x2)</td>
<td>4 (x10)</td>
<td>4 (x7)</td>
</tr>
</tbody>
</table>
